<table class="table table-hover">
  <thead>
    <tr>
      <th>Cover</th>
      <th>Name</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Content</th>
      <th>Language</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of bookCollection">
      <td><img src="store/getcover/{{ book.id }}" width="20" height="20" alt="This is image of cover" /></td>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.quantity }}</td>
      <td>{{ book.content }}</td>
      <td>{{ book.languageName }}</td>
      <td>
        <div *ngIf="permission">
          <a [routerLink]="['../edit', book.id]" class="btn btn-primary">Edit</a>
        </div>
      </td>
      <td>
        <div *ngIf="permission">
          <a [routerLink]="['../delete', book.id]" class="btn btn-primary">Delete</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
